@import "tailwindcss";

@theme {
  --color-primary: #e91e63;
  --color-loop-red: #e91e63;
  --color-background: #f8f8f8;
  --color-error: #ff5252;
  --color-dark: #15172a;
  
  --font-family-sans: Inter, system-ui, sans-serif;
}


html,body,#root {
  height: 100%;
  width: 100%;
}

#root {
  background: var(--color-background);
}


div.no_gap {
  gap: 0px;
}




.base_card {
  padding: 16px;
  gap: 14px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 0px rgba(219, 219, 219, 0.15);
  opacity: 1;
}
