@import "tailwindcss";

@theme {
  --color-primary: #e91e63;
  --color-loop-red: #e91e63;
  --color-background: #f8f8f8;
  --color-error: #ff5245;
  --color-dark: #15172a;
  
  --font-family-sans: Inter, system-ui, sans-serif;
}


html,body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
  background: var(--color-background);
}


div.no_gap {
  gap: 0px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    max-height: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 100px;
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
}




/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.base_card {
  padding: 16px;
  gap: 14px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 0px rgba(219, 219, 219, 0.15);
  opacity: 1;
}

.base_card__no__x_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.base_card.base_card__no__x_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.table_header {
  padding: 12px 0px 12px 16px;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-dark);
  font-weight: 900;
  font-style: normal;
  line-height: 1rem;
}

.table_cell {
  font-size: 1rem;
  font-weight: 500;
  font-style: Medium;
  font-weight: 500;
  padding: 20px 8px 20px 16px;
  color: var(--color-dark);
}

.table_cell:first-child {
  padding-left: 16px;
}

.table_cell:last-child {
  padding-right: 16px;
}
